---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "bases/index",
    "modules/index"
;

body { 
	font-family: 'Ubuntu'; 
    font-size: 10px;
}

h1, h2, h3 {
	font-family: 'Ubuntu Bold';
	font-weight: normal;
}

strong {
    font-weight: 900;
    font-family: 'Ubuntu Bold';
}

.remark-slide-content {
    background-image: url("../assets/images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    vertical-align: middle
}

.remark-code, 
.remark-inline-code { 
	font-family: 'Ubuntu';
    font-size: 18px;    
}

.justify {
    text-align: justify;
}

.remark-slide-content {
    color: #003366;
}

.remark-slide-number {
    left: 20px;
}

img.icon {
    width: 120px;
    height: auto;
}