---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "bases/index",
    "modules/index",
    "layout"
;

.landing_header {
    display: block;
    height: 50px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #003366;

    .container {
        margin: 0 auto;
        display: block;
        width: 768px;

        h1 {
            margin-top: 10px;
            font-size: 30px;
            font-family: "Ubuntu Bold";
            color: #003366;
		}
    }
}

.landing_section {
    display: block;
    height: 50px;

    .container {
        margin: 0 auto;
        display: block;
        width: 768px;

        h5 {
            margin-top: 20px;
            font-size: 24px;
            font-family: "Ubuntu Bold";
            color: #003366;
        }
    }
}

.landing_list {
    li a {
        text-decoration: none;

        &:hover {
            color: #003366;
        }
    }
}