@font-face {
	font-family: "Open Sans Condensed Light";
	src: url("../assets/fonts/open-sans-condensed/OpenSans-CondLight.ttf");
}

@font-face {
	font-family: "Kaushan Script";
	src: url("../assets/fonts/kaushan-script/KaushanScript-Regular.otf");
}

@font-face {
	font-family: "Ubuntu Bold";
	src: url("../assets/fonts/ubuntu/Ubuntu-B.ttf")
}

@font-face {
	font-family: "Ubuntu";
	src: url("../assets/fonts/ubuntu/Ubuntu-R.ttf")
}