<!DOCTYPE html>
<html>
  
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ "/css/default.css" 
      | prepend: site.baseurl }}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
  </head>


  <body>
    <textarea id="source">
      {{ content }}
    </textarea>

    {% include footer.html %}
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>